- name: Setup .NET Core # Required to execute ReportGenerator
  uses: actions/setup-dotnet@v4
  with:
    dotnet-version: 10.x
    dotnet-quality: 'ga'

- name: ReportGenerator
  uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
  with:
    reports: target/site/jacoco/jacoco.xml
    targetdir: coveragereport